*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 50px;
}

nav{
    height: 50px;
    background-color: #484848;
    color: #c8c8c8;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
   
    
}

nav li{
    padding: 25px;

}

a {
    text-decoration: none;
    color: orange;
}


a:hover{
    color: rgb(207, 134, 230);
}
section{
    min-height: 480px;
    background-color: #484848;
    color: orange;
    padding: 10px;
    border: 2px dotted rgba(255, 150, 255, 0.733);
}


.comando-git{
    padding: 5px;
    font-size: 2rem;
    border: 3px solid fuchsia ;
    background-color: #e2ffff;
    color: #484848;
}

p{
    padding: 5px;
}

.conteudo{
    margin-top: 50px;
}